deploytoOrg/PatientManagementNew/Patient Management/main/default/flows/MedicationToFollowUpNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>MedicationToFollowUpNew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MedicationToFollowUpNew</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>MedicToFollow</name>
        <label>MedicToFollow</label>
        <locationX>721</locationX>
        <locationY>411</locationY>
        <inputAssignments>
            <field>Email_of_the_Patients__c</field>
            <value>
                <elementReference>$Record.Patient__r.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Patient__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Identification_Number__c</field>
            <value>
                <elementReference>$Record.Patient__r.Patient_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$Record.Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_Checked_By_Dr__c</field>
            <value>
                <elementReference>$Record.Patient__r.Doctor_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Appointment_Date__c</field>
            <value>
                <elementReference>$Record.Recommended_Revisit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Follow_Up__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>MedicationToFollowUps</name>
        <label>MedicationToFollowUps</label>
        <locationX>457</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MedicToFollow</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Doctor_Available__c</queriedFields>
        <queriedFields>Patient_ID__c</queriedFields>
        <queriedFields>Email_Address__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MedicationToFollowUps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recommended_Revisit_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Medications__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
