deploytoOrg/PatientManagementNew/Patient Management/main/default/flows/VeryNewHospitalPaymentToCommonLab.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>VeryNewHospitalPaymentToCommonLab {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VeryNewHospitalPaymentToCommonLab</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SettingRecordsToCommonLab</name>
        <label>SettingRecordsToCommonLab</label>
        <locationX>783</locationX>
        <locationY>366</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Registration_ID__c</field>
            <value>
                <elementReference>$Record.Patient_Registration_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Report_Card__c</field>
            <value>
                <elementReference>$Record.Patient_Report_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Test__c</field>
            <value>
                <elementReference>$Record.Test_Number_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_1__c</field>
            <value>
                <elementReference>$Record.Test_number_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tests_Amount_Paid__c</field>
            <value>
                <elementReference>$Record.Amounts_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Test__c</field>
            <value>
                <elementReference>$Record.Test_number_3__c</elementReference>
            </value>
        </inputAssignments>
        <object>Common_Lab_Tests__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>VeryNewHospitalPaymentToCommonLab</name>
        <label>VeryNewHospitalPaymentToCommonLab</label>
        <locationX>606</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SettingRecordsToCommonLab</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hospital_Payment_Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>VeryNewHospitalPaymentToCommonLab</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amounts_Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Hospital_Payment_Section__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
